* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

:root {
    --color: #b6895b;
    --color1: #b88766;
    --color2: #7B553C;
    --color3: #ce9d7c;
    --bg: #101010;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--bg);
}

.header-grup {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    backdrop-filter: blur(2px);
    position: sticky;
    top: 0;
    text-align: center;
}

header ul {
    float: center;
}

header ul li {
    display: inline-block;
    min-height: 10;

}

header ul li a {
    font-size: 18px;
    color: #FFF;
    margin: 13 20;
    padding: 15px 30px 9px 30px;
    display: inline-block;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}


header ul li a:hover {
    color: var(--color);
    transition: 1.0;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: .3s;

}

/* list */
.list-style {
    margin: 12px 10px 4px 10px;
    width: 9rem;
    padding: 10px;
    background-color: var(--color);
    border-radius: 12px;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-style:hover {
    border: none;
    background-color: var(--color1);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 0px 10px #b88766;
}

.drop:hover .menu-list a {
    display: block;
}

.menu-list .list-style:hover {
    margin: 0px 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--color2);
}


.menu-list {
    margin: 0px 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--color2);
    position: fixed;

}

.menu-list a {
    padding: 10px;
    margin: 0;
    height: 3rem;
    width: 9rem;  
    display: none;
}





/* section */

section {
    margin: 4rem 0;
    text-align: center;
}

section h1 {
    margin: 4rem 0 1rem 0;
    font-size: 3rem;
}

.pilih {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-pilih h2 {
    margin-left: 2.2rem;
}

.box-pilih {
    background-color: var(--color1);
    padding: 5px;
    margin: 10px 19px;
    border-radius: 12px;
    box-shadow: 10px 5px #7B553C;
    height: 14rem;
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-pilih:hover {
    background-color: var(--color3);
    cursor: pointer;
}

.game {
    display: none;
}

.friend {
    display: none;
}

.bike {
    display: none;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-colum {
    margin: 1rem;
    padding: 1rem;
    border-radius: 12px;
}


/* section selesai */



/* footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer selesai */